.popup{
    display: inline-block;
    border-radius: 25px;
    border: 2px solid #73AD21;
    padding-top: 20px; 
    width: 50%;
    height: 60%; 
}

.addSiteForm{
    display: block;
    padding-bottom: 10px;

}

.addSiteInput{
    display: block;
}

#submit{
    padding: 40px;
    display:block;
}